
<div class="position-aside">

    <div class="main-contents">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Policy Name</th>
                    <th>Total Amount</th>
                    <th>Duration</th>
                    <th>Date Created</th>
                    <th>Date Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let policy of policies$ | async; let i = index" 
                    (click)="onCompanySelected(policy)">
                    <th>{{ policy.company ? policy.company.name : '' }}</th>
                    <th>{{ policy.name }}</th>
                    <th>{{ policy.totalAmountToPay | currency: 'Gh' }}</th>
                    <th>{{ policy.duration }}</th>
                    <th>{{ policy.createdAt | date }}</th>
                    <th>{{ policy.updatedAt | date }}</th>
                </tr>
            </tbody>
        </table>
    </div>

    <app-side-content>

        <app-contents-title title="Policy" (editEvent)="onEdit()" (closeEvent)="delete()"></app-contents-title>

        <div [formGroup]="formGroup" *ngIf="(selected$ | async)._id">

            <div class="contents-editable-container" [ngSwitch]="editable">
                <div>Company</div>
                <div class="label-value" *ngSwitchCase="false">{{ (selected$ | async)?.company ? (selected$ | async)?.company.name : ''  }}</div>
                <input type="text" [class.input-active]="editable"
                       formControlName="company"
                       *ngSwitchCase="true">
            </div>
    
            <div class="contents-editable-container" [ngSwitch]="editable">
                <div>Policy Name</div>
                <div class="label-value" *ngSwitchCase="false">{{ (selected$ | async)?.name }}</div>
                <input type="text" [class.input-active]="editable"
                       formControlName="name"
                       *ngSwitchCase="true">
            </div>

            <div class="contents-editable-container" [ngSwitch]="editable">
                <div>Debit Amount</div>
                <div class="label-value" *ngSwitchCase="false">{{ (selected$ | async)?.amountToDebit | currency: 'Gh' }}</div>
                <input type="text" [class.input-active]="editable"
                       formControlName="amountToDebit"
                       *ngSwitchCase="true">
            </div>


            <div class="contents-editable-container" [ngSwitch]="editable">
                <div>Frequency</div>
                <div class="label-value" *ngSwitchCase="false">{{ (selected$ | async)?.frequency }}</div>
                <input type="text" [class.input-active]="editable"
                       formControlName="frequency"
                       *ngSwitchCase="true">
            </div>


            <div class="contents-editable-container" [ngSwitch]="editable">
                <div>Frequency Type</div>
                <div class="label-value" *ngSwitchCase="false">{{ (selected$ | async)?.frequencyType }}</div>
                <select formControlName="frequencyType" *ngSwitchCase="true">
                    <option [value]="frequencyType" *ngFor="let frequencyType of frequencyTypes">{{ network }}</option>
                </select>
            </div>


            <div class="contents-editable-container" [ngSwitch]="editable">
                <div>Total Amount To Pay</div>
                <div class="label-value" *ngSwitchCase="false">{{ (selected$ | async)?.totalAmountToPay | currency : 'Gh' }}</div>
                <input type="text" [class.input-active]="editable"
                       formControlName="totalAmountToPay"
                       *ngSwitchCase="true">
            </div>


            <div class="contents-editable-container" [ngSwitch]="editable">
                <div>Policy Duration</div>
                <div class="label-value" *ngSwitchCase="false">{{ (selected$ | async)?.duration }}</div>
                <input type="text" [class.input-active]="editable"
                       formControlName="number"
                       *ngSwitchCase="true">
            </div>
    
    
    
            <div class="contents-editable-container" [ngSwitch]="editable">
                <div>Policy Description</div>
                <div class="label-value" *ngSwitchCase="false">
                    {{ (selected$ | async)?.description }}
                </div>
                <textarea cols="5" rows="5" placeholder="hello" 
                          [class.input-active]="editable"
                          formControlName="description"
                        *ngSwitchCase="true">
                </textarea>
            </div>
    
    
            <button class="save-button" *ngIf="editable" (click)="save()">save</button>

        </div>



    </app-side-content>

</div>