<div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a class="simple-text logo-mini">
          <div class="logo-image-small">
            <img [src]="sideBar.logo">
          </div>
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          {{ sideBar.title }}
        </a>
      </div>


      <div class="sidebar-wrapper">
        <ul class="nav">
          <li [routerLinkActive]="['active']" *ngFor="let item of sideBar.items">
            <a [routerLink]="item.item" style="font-weight: bold"
             (click)="onLinkCliked(item.item)">
              <i [class]="item.icon"></i>
              <p>{{ item['item'] }}</p>
            </a>
          </li>
        </ul>
      </div>
      
</div>