.contents-editable-container {

    margin: 20px 0 10px 0;
    font-size: 16px;

    div {
        margin: 0 0 5px 0;
        font-size: 17px;
        color: rgb(196, 68, 0);
    }

    .label-value {
        font-weight: bold;
        color: #6d6d6d;
    }

    input {
        width: 100%;
        outline: none;
        padding: 5px 0px 5px 0px;
        border: none;
        font-weight: bold;
        font-size: 20px;
        color: #000;
    }

    .input-active {
        border: solid thin #dddddd;
        font-weight: normal;
        color: #000;
        padding: 5px;
    }

    input:focus {
        border: solid thin rgb(255, 203, 173);
    }

}


button {
    width: 100%;
    margin: 10% 0 0 0;
    outline: none;
    height: 40px;
    font-weight: bold;
}

.save-button {
    background-color: rgb(255, 158, 102);
    color: #FFF;
}